nav ul {
    list-style-type: none;
    height: 35px;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 3px 1px #e2e2e2;
}

nav li {
    float: left;
}

nav li a {
    font-family: 'Arial', sans-serif; /* Sans serif as a fallback*/
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
}

nav li a:hover {
    border-bottom: 3px solid #071531;

}